Family Dictionary data information

In [2]:
family_data = {
'Name' : ['Muhammad', 'Fatia', 'Adil','Alisha', 'Shayyid', 'Ammi', 'Islam'],
    'Gender' : ['Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female'],
    'Age' : [34, 22, 17, 3, 25, 2, 3.3],
    'Height' : [1.68, 1.23, 1.7, 0.9, 1.5, 1.0, 0.85],
    'Weight' : [60, 40, 50, 10, 55, 15, 12],
    'Blood Group' : ['A+', 'B+', 'O+', 'O+', 'O+', 'O+', 'O+'],
    'Occupation' : ['Engineer', 'Doctor', 'Teacher', 'Teacher', 'Engineer', 'Doctor', 'Doctor'],
    'Friends' : [2, 1, 0, 1, 2, 0, 1],
    'Family Size' : [3, 2, 1, 1, 2, 1, 1],
    'Education' : ['Bachelor', 'Master', 'High School', 'High School', 'Bachelor', 'Master', 'Bachelor'],
    'Income' : [100000, 150000, 50000, 50000, 100000, 150000, 100000],
    'Hobbies' : ['Reading', 'Cooking', 'Singing', 'Playing', 'Reading', 'Cooking', 'Cooking'],
    'Favourite Food' : ['Biryani', 'rice', 'Biryani', 'Biryani', 'Biryani', 'rice', 'rice'],
    'Favourite Color' : ['Blue', 'Pink', 'Red', 'Green', 'Blue', 'Pink', 'Pink'],
    'Hobby Duration' : [3, 5, 2, 4, 3, 5, 4],
    'Sleep Duration' : [6, 8, 7, 10, 6, 8, 10],
    'Family Relation' : ['Uncle', 'Aunt', 'Brother', 'Sister', 'Uncle', 'Aunt', 'Aunt'],
    'Family Status' : ['Married', 'Single', 'Single', 'Single', 'Married', 'Single', 'Single'],
    'Family Income' : [200000, 150000, 50000, 50000, 200000, 150000, 150000],
    'Family Friends' : [5, 2, 1, 1, 5, 2, 2],
    'Family Education' : ['Master', 'Master', 'High School', 'High School', 'Master', 'Master', 'Master'],
    'Family Hobbies' : ['Reading', 'Cooking', 'Singing', 'Playing', 'Reading', 'Cooking', 'Cooking'],
    'Family Favourite Food' : ['Biryani', 'rice', 'Biryani', 'Biryani', 'Biryani', 'rice', 'rice'],
    'Family Favourite Color' : ['Blue', 'Pink', 'Red', 'Green', 'Blue', 'Pink', 'Pink'],
    'Family Hobby Duration' : [3, 5, 2, 4, 3, 5, 4]
}

print(f'family_data = {family_data}')

family_data = {'Name': ['Muhammad', 'Fatia', 'Adil', 'Alisha', 'Shayyid', 'Ammi', 'Islam'], 'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female'], 'Age': [34, 22, 17, 3, 25, 2, 3.3], 'Height': [1.68, 1.23, 1.7, 0.9, 1.5, 1.0, 0.85], 'Weight': [60, 40, 50, 10, 55, 15, 12], 'Blood Group': ['A+', 'B+', 'O+', 'O+', 'O+', 'O+', 'O+'], 'Occupation': ['Engineer', 'Doctor', 'Teacher', 'Teacher', 'Engineer', 'Doctor', 'Doctor'], 'Friends': [2, 1, 0, 1, 2, 0, 1], 'Family Size': [3, 2, 1, 1, 2, 1, 1], 'Education': ['Bachelor', 'Master', 'High School', 'High School', 'Bachelor', 'Master', 'Bachelor'], 'Income': [100000, 150000, 50000, 50000, 100000, 150000, 100000], 'Hobbies': ['Reading', 'Cooking', 'Singing', 'Playing', 'Reading', 'Cooking', 'Cooking'], 'Favourite Food': ['Biryani', 'rice', 'Biryani', 'Biryani', 'Biryani', 'rice', 'rice'], 'Favourite Color': ['Blue', 'Pink', 'Red', 'Green', 'Blue', 'Pink', 'Pink'], 'Hobby Duration': [3, 5, 2, 4, 3, 5, 4], 'Sleep Duration': [6, 8, 7, 10, 6, 8, 10], 'Family Relation': ['Uncle', 'Aunt', 'Brother', 'Sister', 'Uncle', 'Aunt', 'Aunt'], 'Family Status': ['Married', 'Single', 'Single', 'Single', 'Married', 'Single', 'Single'], 'Family Income': [200000, 150000, 50000, 50000, 200000, 150000, 150000], 'Family Friends': [5, 2, 1, 1, 5, 2, 2], 'Family Education': ['Master', 'Master', 'High School', 'High School', 'Master', 'Master', 'Master'], 'Family Hobbies': ['Reading', 'Cooking', 'Singing', 'Playing', 'Reading', 'Cooking', 'Cooking'], 'Family Favourite Food': ['Biryani', 'rice', 'Biryani', 'Biryani', 'Biryani', 'rice', 'rice'], 'Family Favourite Color': ['Blue', 'Pink', 'Red', 'Green', 'Blue', 'Pink', 'Pink'], 'Family Hobby Duration': [3, 5, 2, 4, 3, 5, 4]}

Converting the dictionary data set to pandas frame

In [3]:
import pandas as pd

In [4]:
fframe = pd.DataFrame(family_data)
print(fframe)

       Name  Gender   Age  Height  Weight Blood Group Occupation  Friends  \
0  Muhammad    Male  34.0    1.68      60          A+   Engineer        2
1     Fatia  Female  22.0    1.23      40          B+     Doctor        1
2      Adil    Male  17.0    1.70      50          O+    Teacher        0
3    Alisha  Female   3.0    0.90      10          O+    Teacher        1
4   Shayyid    Male  25.0    1.50      55          O+   Engineer        2
5      Ammi  Female   2.0    1.00      15          O+     Doctor        0
6     Islam  Female   3.3    0.85      12          O+     Doctor        1

   Family Size    Education  ...  Sleep Duration Family Relation  \
0            3     Bachelor  ...               6           Uncle
1            2       Master  ...               8            Aunt
2            1  High School  ...               7         Brother
3            1  High School  ...              10          Sister
4            2     Bachelor  ...               6           Uncle
5            1       Master  ...               8            Aunt
6            1     Bachelor  ...              10            Aunt

  Family Status Family Income  Family Friends  Family Education  \
0       Married        200000               5            Master
1        Single        150000               2            Master
2        Single         50000               1       High School
3        Single         50000               1       High School
4       Married        200000               5            Master
5        Single        150000               2            Master
6        Single        150000               2            Master

  Family Hobbies Family Favourite Food  Family Favourite Color  \
0        Reading               Biryani                    Blue
1        Cooking                  rice                    Pink
2        Singing               Biryani                     Red
3        Playing               Biryani                   Green
4        Reading               Biryani                    Blue
5        Cooking                  rice                    Pink
6        Cooking                  rice                    Pink

   Family Hobby Duration
0                      3
1                      5
2                      2
3                      4
4                      3
5                      5
6                      4

[7 rows x 25 columns]

Information about the family data structure

In [5]:
print(f'Information about the family \n{fframe.info()}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    7 non-null      object
 1   Gender                  7 non-null      object
 2   Age                     7 non-null      float64
 3   Height                  7 non-null      float64
 4   Weight                  7 non-null      int64
 5   Blood Group             7 non-null      object
 6   Occupation              7 non-null      object
 7   Friends                 7 non-null      int64
 8   Family Size             7 non-null      int64
 9   Education               7 non-null      object
 10  Income                  7 non-null      int64
 11  Hobbies                 7 non-null      object
 12  Favourite Food          7 non-null      object
 13  Favourite Color         7 non-null      object
 14  Hobby Duration          7 non-null      int64
 15  Sleep Duration          7 non-null      int64
 16  Family Relation         7 non-null      object
 17  Family Status           7 non-null      object
 18  Family Income           7 non-null      int64
 19  Family Friends          7 non-null      int64
 20  Family Education        7 non-null      object
 21  Family Hobbies          7 non-null      object
 22  Family Favourite Food   7 non-null      object
 23  Family Favourite Color  7 non-null      object
 24  Family Hobby Duration   7 non-null      int64
dtypes: float64(2), int64(9), object(14)
memory usage: 1.5+ KB
Information about the family
None

Statistical description of the family structure

In [6]:
print(f'Family Data Description \n{fframe.describe()}')

Family Data Description
             Age    Height     Weight   Friends  Family Size         Income  \
count   7.000000  7.000000   7.000000  7.000000     7.000000       7.000000
mean   15.185714  1.265714  34.571429  1.000000     1.571429  100000.000000
std    12.673125  0.363678  21.709116  0.816497     0.786796   40824.829046
min     2.000000  0.850000  10.000000  0.000000     1.000000   50000.000000
25%     3.150000  0.950000  13.500000  0.500000     1.000000   75000.000000
50%    17.000000  1.230000  40.000000  1.000000     1.000000  100000.000000
75%    23.500000  1.590000  52.500000  1.500000     2.000000  125000.000000
max    34.000000  1.700000  60.000000  2.000000     3.000000  150000.000000

       Hobby Duration  Sleep Duration  Family Income  Family Friends  \
count        7.000000        7.000000       7.000000        7.000000
mean         3.714286        7.857143  135714.285714        2.571429
std          1.112697        1.676163   62678.317053        1.718249
min          2.000000        6.000000   50000.000000        1.000000
25%          3.000000        6.500000  100000.000000        1.500000
50%          4.000000        8.000000  150000.000000        2.000000
75%          4.500000        9.000000  175000.000000        3.500000
max          5.000000       10.000000  200000.000000        5.000000

       Family Hobby Duration
count               7.000000
mean                3.714286
std                 1.112697
min                 2.000000
25%                 3.000000
50%                 4.000000
75%                 4.500000
max                 5.000000

Slicing information about the family structure

In [7]:
age= fframe.set_index('Name')['Age']
print(f'Age = \n{age}')

Age =
Name
Muhammad    34.0
Fatia       22.0
Adil        17.0
Alisha       3.0
Shayyid     25.0
Ammi         2.0
Islam        3.3
Name: Age, dtype: float64

In [8]:
height= fframe.set_index('Name')['Height']
print(f'Height  \n{height}')

Height
Name
Muhammad    1.68
Fatia       1.23
Adil        1.70
Alisha      0.90
Shayyid     1.50
Ammi        1.00
Islam       0.85
Name: Height, dtype: float64

In [9]:
weight = fframe.set_index('Name')['Weight']
print(f'Height  \n{weight}')

Height
Name
Muhammad    60
Fatia       40
Adil        50
Alisha      10
Shayyid     55
Ammi        15
Islam       12
Name: Weight, dtype: int64

In [10]:
weight_age= fframe.set_index('Name')[['Weight', 'Age', 'Family Income']]
print(f'Height  \n{weight_age}')

Height
          Weight   Age  Family Income
Name
Muhammad      60  34.0         200000
Fatia         40  22.0         150000
Adil          50  17.0          50000
Alisha        10   3.0          50000
Shayyid       55  25.0         200000
Ammi          15   2.0         150000
Islam         12   3.3         150000

Body Mass Index of the family members

In [11]:
bmi = weight / (height ** 2)
print(f'BMI of the family members \n{bmi}')

BMI of the family members
Name
Muhammad    21.258503
Fatia       26.439289
Adil        17.301038
Alisha      12.345679
Shayyid     24.444444
Ammi        15.000000
Islam       16.608997
dtype: float64

In [12]:
family_income = fframe.set_index('Name')['Family Income']
print(f'Family Income = \n{family_income}')

Family Income =
Name
Muhammad    200000
Fatia       150000
Adil         50000
Alisha       50000
Shayyid     200000
Ammi        150000
Islam       150000
Name: Family Income, dtype: int64

statistical operations

Minimum Income

In [13]:
min_income_amount = family_income.min()
min_income_person = family_income.idxmin()
print(f'{min_income_person} earning {min_income_amount}')

Adil earning 50000

Maxium_income

In [14]:
max_income_amount = family_income.max()
max_income_person = family_income.idxmax()
print(f'{max_income_person} earning {max_income_amount}')

Muhammad earning 200000

In [15]:
# Mean age
print(f'Mean = {family_income.mean()}')

# Median Age
print(f'Madian = {family_income.median()}')

# Sum of all income classes
print(f'Sum of all income = #{family_income.sum()}')

# count
print(f'Count = {family_income.count()} units')

Mean = 135714.2857142857
Madian = 150000.0
Sum of all income = #950000
Count = 7 units

Grouoping and their statistical analysis

In [20]:
groupby_gender = fframe.groupby('Gender')['Family Income']
print(f'Group by Gender = \n{groupby_gender}')

Group by Gender =
<pandas.core.groupby.generic.SeriesGroupBy object at 0x000001FDDB6FD130>

In [22]:
print(f'sum = \n{groupby_gender.sum()}')

sum =
Gender
Female    500000
Male      450000
Name: Family Income, dtype: int64

In [23]:
print(f'mean = \n{groupby_gender.mean()}')

mean =
Gender
Female    125000.0
Male      150000.0
Name: Family Income, dtype: float64

In [24]:
print(f'Median = \n{groupby_gender.median()}')

Median =
Gender
Female    150000.0
Male      200000.0
Name: Family Income, dtype: float64

In [25]:
print(f'min = \n{groupby_gender.min()}')

min =
Gender
Female    50000
Male      50000
Name: Family Income, dtype: int64

In [26]:
print(f'max= \n{groupby_gender.max()}')

max=
Gender
Female    150000
Male      200000
Name: Family Income, dtype: int64

In [27]:
print(f'Skew = \n{groupby_gender.skew()}')

Skew =
Gender
Female   -2.000000
Male     -1.732051
Name: Family Income, dtype: float64

In [28]:
print(f'variance = \n{groupby_gender.var()}')

variance =
Gender
Female    2.500000e+09
Male      7.500000e+09
Name: Family Income, dtype: float64

In [29]:
print(f'Standard deviation = \n{groupby_gender.std()}')

Standard deviation =
Gender
Female    50000.000000
Male      86602.540378
Name: Family Income, dtype: float64

In [30]:
print(f'SUM = \n{groupby_gender.count()}')

SUM =
Gender
Female    4
Male      3
Name: Family Income, dtype: int64

In [31]:
print(f'SUM = \n{groupby_gender.value_counts()}')

SUM =
Gender  Family Income
Female  150000           3
        50000            1
Male    200000           2
        50000            1
Name: count, dtype: int64